:root {
  --main-color: #ffd700;
}

/* CONTENEDOR */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#020617, #0a0f33);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LUNA */
.moon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(circle at 30% 30%, #ffffff, #d8d8d8 40%, #9e9e9e 70%);
  box-shadow: 0 0 40px #fff, 0 0 90px #ffffffaa, inset 0 0 30px #ffffffe0;
  animation: moonFloat 6s ease-in-out infinite;
}

@keyframes moonFloat {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(-12px); }
}

/* TÍTULO */
.app-title {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--main-color);
  text-shadow: 0 0 20px #ffd700, 0 0 50px #ffec4d;
  animation: titleGlow 2s infinite alternate;
}

@keyframes titleGlow {
  0% { text-shadow: 0 0 10px #ffd700; }
  100% { text-shadow: 0 0 60px #ffd700; }
}

/* ESTRELLAS */
.stars-area .star {
  position: absolute;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 6px white, 0 0 15px rgba(255, 255, 255, 0.5);
  animation: starMove infinite alternate;
}

@keyframes starMove {
  0% { transform: translateY(0) scale(1); opacity: 0.5; }
  50% { transform: translateY(-10px) scale(1.3); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 0.6; }
}


@keyframes floatPenguin {
  0%, 100% { transform: translateY(0) rotate(-3deg); }
  50% { transform: translateY(-20px) rotate(3deg); }
}

/* BOTÓN COMENZAR */
.start-btn {
  position: absolute;
  bottom: 40px;
  padding: 16px 34px;
  background: var(--main-color);
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background: white;
  color: var(--main-color);
  transform: scale(1.08);
}
